{% extends "base.html" %}

{% block content %}
<!-- Full Width Parent Container with Padding -->
<div class="w-full max-w-lg mx-auto my-12 bg-white p-8 shadow-lg rounded-3xl">
    <h2 class="text-2xl font-semibold text-center text-cus-clr-secondary mb-8">Login</h2>

    <!-- Thinner Full Width Line Separator -->
    <div class="w-full border-t border-gray-300 mb-6"></div>

    <form method="POST">
        {{ form.hidden_tag() }}
        
        <!-- Email field -->
        <div class="mb-4">
            <label for="email" class="block text-sm font-semibold text-gray-700">Email</label>
            {{ form.email(class="w-full p-3 mt-2 border rounded-full focus:ring-cus-clr-secondary focus:border-cus-clr-secondary") }}
        </div>

        <!-- Password field -->
        <div class="mb-4">
            <label for="password" class="block text-sm font-semibold text-gray-700">Password</label>
            {{ form.password(class="w-full p-3 mt-2 border rounded-full focus:ring-cus-clr-secondary focus:border-cus-clr-secondary") }}
        </div>

        <!-- Remember me field -->
        <div class="mb-6">
            {{ form.remember() }}
            <label for="remember" class="text-sm font-semibold text-gray-700">Remember Me</label>
        </div>

        <!-- Submit button -->
        <div class="text-center">
            <button type="submit" class="w-full py-3 bg-cus-clr-secondary text-white rounded-full hover:bg-cus-clr-secondary-dark">Login</button>
        </div>
    </form>

    <div class="mt-4 text-center">
        <p class="text-sm text-gray-600">Don't have an account? <a href="{{ url_for('users.register') }}" class="text-cus-clr-secondary">Register</a></p>
    </div>
</div>
{% endblock %}
