{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert mb-2 py-1 px-4 rounded-full text-xs mt-4
                {% if category == 'success' %}
                    bg-green-100 text-green-800
                {% elif category == 'error' %}
                    bg-red-100 text-red-800
                {% else %}
                    text-white bg-black bg-opacity-40 
                {% endif %}
                opacity-100 transition-opacity" 
                x-data="{ show: true }" 
                x-show="show" 
                x-init="setTimeout(() => show = false, 5000)" 
                x-transition:enter="transition-opacity duration-1500 ease-in opacity-100"
                x-transition:leave="transition-opacity duration-3000 ease-out opacity-0"
            >
                <div class="flex justify-between items-center">
                    <span>{{ message }}</span>
                    <button 
                        type="button" 
                        class="ml-4 text-xl 
                            {% if category == 'success' %}
                            text-green-800 hover:text-green-900
                            {% elif category == 'error' %}
                            text-red-800 hover:text-red-900
                            {% endif %}
                            font-bold" 
                        @click="show = false"
                    >
                        &times;
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
